<div class="w-full text-center">
  <p class="font-mono text-lg font-bold"><%= @data["name"]%></p>
  <p><%= Date.today.strftime("%A, %B %d") %></p>
  <img class="mx-auto"src="http://openweathermap.org/img/wn/<%= @data["weather"].first["icon"]%>@2x.png">
  <p class="font-bold"><%= @data["weather"].first["main"]%></p>
  <p class="text-xs"><%= @data["weather"].first["description"]%></p>
  <p><%= @data["main"]["temp"]%><span class="italic"> Celcius</span></p>
</div>