
<div class="w-full text-center">

  <form action="#">
    <input name="q" type="text">
    <button type="submit">Search</button>
  </form>

  <div style="margin-top:20px">
    <%= @user_input %>

    <p class="font-mono text-lg font-bold"><%= @weather.city_name%></p>
    <p><%= Date.today.strftime("%A, %B %d") %></p>
    <img class="mx-auto" src="<%= @weather.icon_url%>" />
    <p class="font-bold"><%= @weather.status %></p>
    <p class="text-xs"><%= @weather.description%></p>
    <p><%= @weather.temperature%><span class="italic"> Celcius</span></p>
  </div>

</div>
