<%# <div align="center" style="padding-bottom:40px">
  <form class="max-w-sm">
    <div class="flex items-center border-b border-black-500 py-1">
      <input class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none" type="text" placeholder="City" aria-label="city name">
      <button class="flex-shrink-0 bg-gray-500 hover:bg-gray-700  border-gray-500 hover:border-gray-700 text-sm border-4 text-white py-1 px-2 rounded" type="button">
        Sign Up
      </button>
    </div>
  </form>"
</div> %>

<div class="w-full text-center">

  <form action="#">
    <input name="q" type="text">
    <button type="submit">Search</button>
  </form>

  <%= @user_input %>

  <p class="font-mono text-lg font-bold"><%= @weather.city_name%></p>
  <p><%= Date.today.strftime("%A, %B %d") %></p>
  <img class="mx-auto" src="<%= @weather.icon_url%>" />
  <p class="font-bold"><%= @weather.status %></p>
  <p class="text-xs"><%= @weather.description%></p>
  <p><%= @weather.temperature%><span class="italic"> Celcius</span></p>
</div>
